/* styles/form.css */
:root {
  --backgroundColor: #1b1b1b;
  --sideBarColor: #272727;
  --mdui-color-primary: #CF0A60;
  --mdui-color-surface: #1b1b1b;
  --mdui-color-surface-container: #272727;
  --mdui-color-on-surface: #ffffff;
  --mdui-color-on-primary: #ffffff;
}
  
body {
  background-color: var(--backgroundColor);
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  margin-top: 2rem;
}

form {
  background-color: var(--sideBarColor);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2rem auto;
  max-width: 600px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: bold;
}

#submitBtn {
  background-image: linear-gradient(to right, #491F52, #CF0A60);
  margin-top: 2rem;
}

#btnBack {
  position: fixed;
  top: 20px;
  left: 20px;
}